option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "${!aws-secretsmanager:song-site/backend:SecretStringJSON:PORT}"
    DB_URL: "${!aws-secretsmanager:song-site/backend:SecretStringJSON:DB_URL}"
    SECRET: "${!aws-secretsmanager:song-site/backend:SecretStringJSON:SECRET}"
    EMAIL: "${!aws-secretsmanager:song-site/backend:SecretStringJSON:EMAIL}"
    EMAIL_PD: "${!aws-secretsmanager:song-site/backend:SecretStringJSON:EMAIL_PD}"
    DOMAIN: "${!aws-secretsmanager:song-site/backend:SecretStringJSON:DOMAIN}"